[Desktop Entry]
Name=GitHub Desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=start-github-desktop --file-forwarding --socket=wayland io.github.shiftey.Desktop --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto @@u %U @@
Terminal=false
Type=Application
Icon=io.github.shiftey.Desktop
StartupWMClass=GitHub Desktop
Comment=Simple collaboration from your desktop
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;
Categories=Development;
X-Flatpak=io.github.shiftey.Desktop
